{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template bbbext_bnx/view_page_addons

    BNX clone of the core BigBlueButtonBN view page template. This keeps output identical to
    the module default while allowing BNX extensions to slot in later.

    Example context (json):
    {
        "instanceid": 1234,
        "meetingname": "My first meeting",
        "meetingdescription": "This is my <strong>first</strong> meeting!",
        "pollinterval": 5
    }

}}
{{{groupselector}}}

{{#serverwarning}}
  {{>core/notification}}
{{/serverwarning}}

{{#sitenotification}}
  {{>core/local/notification/cta}}
{{/sitenotification}}

{{#meetingname}}
    <h3>{{meetingname}}</h3>
{{/meetingname}}

{{#meetingdescription}}
    <h5>{{{meetingdescription}}}</h5>
{{/meetingdescription}}

{{#room}}
    {{>bbbext_bnx/room_view}}
{{/room}}

{{#recordings}}
    <div class="mod_bigbluebuttonbn_recordings">
        {{< bbbext_bnx/recordings_table}}
            {{$title}}{{#str}}view_section_title_recordings, mod_bigbluebuttonbn{{/str}}{{/title}}
        {{/bbbext_bnx/recordings_table}}
        <div class="mt-3">
            {{#session.import_button}}
                {{>core/single_button}}
            {{/session.import_button}}
        </div>
    </div>
{{/recordings}}

{{#js}}
require(['bbbext_bnx/overridenav'], function(overridenav) {
    overridenav.init();
});
{{/js}}

{{#js}}
{{#instanceid}}
{{#pollinterval}}
require(['bbbext_bnx/rooms'], function(rooms) {
    rooms.init(
        {{instanceid}},
        {{pollinterval}}
        );
    });
{{/pollinterval}}
{{/instanceid}}
{{/js}}
